Package: libdtkcore5-bin
Source: dtkcore
Version: 5.6.22
Architecture: amd64
Maintainer: Deepin Packages Builder <packages@deepin.com>
Installed-Size: 1038
Depends: libdtkcore5 (= 5.6.22)
Section: libdevel
Priority: optional
Description: Deepin Tool Kit Core Utilities
 DtkCore is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the utilities of DtkCore
